.users {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.users .user {
  border: 1px solid #dddddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
@media (max-width: 1024px) {
  .users {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .users {
    grid-template-columns: repeat(2, 1fr);
  }
}
